body {
    background: linear-gradient(to right, #007BFF, #FFB800);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewport {
    height: 80vh;
    width: 80vh;
}
