/* Estilos generales para el cuerpo */
body {
    background: linear-gradient(to right, #00a8ff, #0c7b8e);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal centrado vertical y horizontalmente */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Usar min-height en lugar de height para asegurar que el contenido se vea en pantallas más pequeñas */
}

/* Panel con sombra y borde redondeado */
.panel {
    background: linear-gradient(to bottom, #00a8ff, #0c7b8e);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 80%; /* Limita el ancho máximo del panel al 80% del ancho de la pantalla */
    margin: 0 auto; /* Centra horizontalmente el panel */
}

/* Botón de estilo neon */
.btn-neon {
    background-color: transparent;
    color: #00a8ff;
    border: 2px solid #00a8ff;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.btn-neon:hover {
    background-color: #00a8ff;
    color: #fff;
}
